body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  
  }

  a {
    text-decoration: none;
    color: unset;
    font-weight: unset;
  }

  h1 {
    font-size: 2em;
  }



  h1, p {
    margin: 5px;


  }

  ul, li {
    list-style-type: none;
    padding: 0;
    margin: 0;  }
  
  .card, .dropdown, .location-info__location, .error-section__redirection {
      font-size: 1em;
    }

  .header, .footer {
      font-size: 1.5em;
  }

  .location-info__title, .error-section__message {
      font-size: 2.2em;
  }
  
  .banner {
        font-size: 2.5em;
    }

    .error-section__number {
        font-size: 288px;
        font-weight: bold;
    }


    @media screen and (max-width: 768px) {

    .location-info__location, .error-section__redirection {
      // font-size: 14px;
      font-size: 0.875em;
    }

  .header, .footer, .dropdown {
      // font-size: 12px;
      font-size: 0.75em;
    
  }

  .location-info__title, h1,  .error-section__message {
      font-size: 1.125em;
  }
  
  .banner {
        font-size: 1.5em;
    }

    .error-section__number {
        font-size: 6em;
    }
    }
