body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  
  }

  a {
    text-decoration: none;
    color: unset;
    font-weight: unset;
  }

  h1 {
    font-size: 2em;
  }



  h1, p {
    margin: 5px;


  }
  
  .card .location-info__location .error-section__redirection {
      // font-size: 18px;
      font-size: 1em;
    }

  .header .footer .stars .dropdown {
      // font-size: 24px;
      font-size: 1.5em;
    
  }

  .location-info__title .error-section__message {
      // font-size: 36px;
      font-size: 2.2em;
  }
  
  .banner {
        // font-size: 48px;
        font-size: 2.5em;
    }

    .error-section__number {
        font-size: 288px;
        font-weight: bold;
    }

