@import "./utils/variables";
@import "./utils/mixins";
@import "./components/Header";
@import "./components/Banner";
@import "./components/Gallery";
@import "./components/Thumbnail";
@import "./components/Footer";
@import "./components/Dropdown";
@import "./components/Error";

body {
    margin: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  
  }

  a {
    text-decoration: none;
    color: unset;
    font-weight: unset;
  }

  @media screen and (max-width: 1200px) { 

    .gallery {
      grid-template-columns: repeat(2, 1fr);
    }
    .thumbnail{
      height: 255px;
    }

  }

  @media screen and (max-width: 860px) { 
    .header, .gallery, .banner {
      @include margin-M;
    }
    
    .gallery {
      background-color: white;
      padding: 0;
    }
  }
  
  @media screen and (max-width: 599px) {

    
    .gallery {
      grid-template-columns: 100%;
    }
  }
  
  @media screen and (max-width: 400px) {
    .header {
      margin: 0;
     
      &__nav {
        text-transform: uppercase;
        font-size: 0.7em;
      }
    }
  }