@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
body {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: unset;
  font-weight: unset;
}

h1 {
  font-size: 2em;
}

h1, p {
  margin: 5px;
}

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.card, .dropdown, .location-info__location, .error-section__redirection {
  font-size: 1em;
}

.header, .footer {
  font-size: 1.5em;
}

.location-info__title, .error-section__message {
  font-size: 2.2em;
}

.banner {
  font-size: 2.5em;
}

.error-section__number {
  font-size: 288px;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .location-info__location, .error-section__redirection {
    font-size: 0.875em;
  }
  .header, .footer, .dropdown {
    font-size: 0.75em;
  }
  .location-info__title, h1, .error-section__message {
    font-size: 1.125em;
  }
  .banner {
    font-size: 1.5em;
  }
  .error-section__number {
    font-size: 6em;
  }
}

.header {
  margin: 100px;
  margin-bottom: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 68px;
  color: #ff6060;
}

.header__logo {
  width: 145px;
}

.header__logo__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header__nav {
  display: -ms-grid;
  display: grid;
  min-width: 150px;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 15px;
          column-gap: 15px;
  text-align: center;
}

.header__nav a:hover {
  text-decoration: underline;
}

.banner {
  margin: 100px;
  margin-bottom: 45px;
  background-color: #000000;
  background-position: center;
  background-size: cover;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 223px;
  border-radius: 25px;
}

.banner__motto {
  color: white;
  padding: 20px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 209px;
  color: white;
  background-color: black;
}

.footer__logo {
  width: 122px;
  height: 40px;
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
  color: white;
  margin-top: 10px;
}

.footer__copyright {
  margin-top: 50px;
}

.location {
  margin: 100px;
  margin-bottom: 45px;
}

.location-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #ff6060;
}

.block1 {
  width: 80%;
}

.block2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 20%;
}

.dropdown-box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  margin-top: 50px;
  width: 100%;
}

@media screen and (max-width: 950px) {
  .location {
    margin: 20px;
  }
  .location-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    color: #ff6060;
  }
  .block1 {
    width: 100%;
  }
  .block2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .dropdown-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-column-gap: 30px;
            column-gap: 30px;
    margin-top: 50px;
    width: 100%;
  }
}

.about-box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  row-gap: 30px;
  margin: 100px;
  margin-bottom: 45px;
}

@media screen and (max-width: 950px) {
  .about-box {
    margin: 20px;
  }
}

.error-section {
  position: relative;
  margin: 100px;
  margin-bottom: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  color: #ff6060;
  height: 80vh;
  width: auto;
}

.error-section__message {
  -ms-flex-item-align: start;
      align-self: flex-start;
  text-align: center;
  width: 100%;
}

.error-section__redirection:hover {
  text-decoration: underline;
}

.gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  justify-items: center;
  margin: 100px;
  margin-bottom: 45px;
  border-radius: 25px;
  background-color: #f2f2f2;
  padding: 50px;
}

.gallery .card {
  position: relative;
  width: 100%;
  height: 340px;
  border-radius: 10px;
  background-color: #000000;
  background-position: center;
  background-size: cover;
  color: #ffffff;
}

.gallery .card__title {
  position: absolute;
  left: 20px;
  bottom: 20px;
  color: white;
  font-weight: normal;
}

.carousel {
  position: relative;
  height: 415px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carousel__image {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.carousel__active {
  opacity: 1;
  height: 100%;
  width: 100%;
}

.carousel__inactive {
  opacity: 0;
}

.fa.fa-angle-left {
  position: absolute;
  color: rgba(255, 255, 255, 0.7);
  font-size: 9em;
  z-index: 10;
  left: 5%;
  cursor: pointer;
}

.fa.fa-angle-right {
  position: absolute;
  color: rgba(255, 255, 255, 0.7);
  font-size: 9em;
  z-index: 10;
  right: 5%;
  cursor: pointer;
}

.dropdown {
  border-radius: 5px;
  text-align: justify;
  margin-bottom: 15px;
}

.dropdown__header {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #ff6060;
  border-radius: 5px;
  color: white;
}

.dropdown__content {
  color: #ff6060;
  padding: 15px;
  background-color: #f6f6f6;
}

.tag-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 0.8em;
  padding: 5px;
  color: white;
}

.tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 5px;
  margin-block: 5px;
  padding: 5px;
  width: 150px;
  height: 25px;
  border-radius: 10px;
  background-color: #ff6060;
  color: white;
}

@media screen and (max-width: 480px) {
  .tag {
    width: 95px;
    height: 18px;
    font-size: 0.625em;
  }
}

.host {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: #ff6060;
  font-size: 1.125em;
}

.host__picture {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 5px;
}

@media screen and (max-width: 480px) {
  .host__name {
    padding: 10px;
    font-size: 0.75em;
  }
}

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.rating__star-empty {
  color: #c3c3c3;
}

@media screen and (max-width: 480px) {
  .star {
    width: 18px;
  }
}

@media screen and (max-width: 1200px) {
  .gallery {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .card {
    height: 255px;
  }
}

@media screen and (max-width: 860px) {
  .header, .gallery, .banner {
    margin: 20px;
  }
  .dropdown-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    -webkit-column-gap: 30px;
            column-gap: 30px;
    margin-top: 50px;
    width: 100%;
  }
  .gallery {
    background-color: white;
    padding: 0;
  }
}

@media screen and (max-width: 599px) {
  .gallery {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
}

@media screen and (max-width: 400px) {
  .header {
    margin: 0;
  }
  .header__nav {
    text-transform: uppercase;
    font-size: 0.7em;
  }
}
/*# sourceMappingURL=styles.css.map */