
@import "./utils/variables";
@import "./utils/mixins";
@import "./base/base";
@import "./base/typography";
@import "./components/Header";
@import "./components/Banner";
@import "./components/Footer";
@import "./components/Cards";
@import "./components/Carousel";
@import "./components/Dropdown";
@import "./components/Error";
@import "./components/Tag";
@import "./components/Host";



  @media screen and (max-width: 1200px) { 

    .gallery {
      grid-template-columns: repeat(2, 1fr);
    }
    .card {
      height: 255px;
    }

  }

  @media screen and (max-width: 860px) { 
    .header, .gallery, .banner {
      @include margin-M;
    }
    
    .gallery {
      background-color: white;
      padding: 0;
    }
  }
  
  @media screen and (max-width: 599px) {

    
    .gallery {
      grid-template-columns: 100%;
    }
  }
  
  @media screen and (max-width: 400px) {
    .header {
      margin: 0;
     
      &__nav {
        text-transform: uppercase;
        font-size: 0.7em;
      }
    }
  }


  .about-box {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 30px;
    @include margin-D;
    
  }

  .location__body {
    @include margin-D;
  }