@import "./utils/variables";
@import "./utils/mixins";
@import "./base/base";
@import "./base/typography";
@import "./components/Header";
@import "./components/Banner";
@import "./components/Footer";
@import "./pages/Location";
@import "./pages/About";
@import "./pages/Error";
@import "./components/Cards";
@import "./components/Carousel";
@import "./components/Dropdown";
@import "./components/Tag";
@import "./components/Host";
@import "./components/Rating";

@media screen and (max-width: 1200px) { 
  
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
  .card {
    height: 255px;
  }
}

@media screen and (max-width: 860px) { 
  .header, .gallery, .banner {
    @include margin-M;
  }

  .dropdown-box {
    display: flex;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    column-gap: 30px;
    margin-top: 50px;
    width: 100%
  }
  
  
  .gallery {
    background-color: white;
    padding: 0;
    }
  }

  @media screen and (max-width: 599px) {

    
    .gallery {
      grid-template-columns: 100%;
    }
  }
  
  @media screen and (max-width: 400px) {
    .header {
      margin: 0;
     
      &__nav {
        text-transform: uppercase;
        font-size: 0.7em;
      }
    }
  }

