@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
body {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: unset;
  font-weight: unset;
}

.card .error-section__redirection {
  font-size: 18px;
}

.header .footer .stars .dropdown {
  font-size: 24px;
}

.error-section__message {
  font-size: 36px;
}

.banner {
  font-size: 48px;
}

.error-section__number {
  font-size: 288px;
  font-weight: bold;
}

.header {
  margin: 100px;
  margin-bottom: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 68px;
  color: #ff6060;
}

.header__logo {
  width: 145px;
}

.header__logo__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header__nav {
  display: -ms-grid;
  display: grid;
  min-width: 150px;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 15px;
          column-gap: 15px;
  text-align: center;
}

.header__nav a:hover {
  text-decoration: underline;
}

.banner {
  margin: 100px;
  margin-bottom: 45px;
  background-color: #000000;
  background-position: center;
  background-size: cover;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 223px;
  border-radius: 25px;
}

.banner__motto {
  position: absolute;
  color: white;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 209px;
  color: white;
  background-color: black;
}

.footer__logo {
  width: 122px;
  height: 40px;
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
  color: white;
  margin-top: 10px;
}

.footer__copyright {
  margin-top: 50px;
}

.gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  justify-items: center;
  margin: 100px;
  margin-bottom: 45px;
  border-radius: 25px;
  background-color: #f2f2f2;
  padding: 50px;
}

.gallery .card {
  position: relative;
  width: 100%;
  height: 340px;
  border-radius: 10px;
  background-color: #000000;
  background-position: center;
  background-size: cover;
  color: #ffffff;
}

.gallery .card__title {
  position: absolute;
  left: 20px;
  bottom: 20px;
  color: white;
  font-weight: normal;
}

.carousel {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 415px;
  background-color: grey;
}

.carousel__image {
  border-radius: 25px;
  height: 643px;
  width: 80%;
}

.dropdown {
  border-radius: 5px;
  background-color: #f2f2f2;
  text-align: justify;
  margin-bottom: 15px;
}

.dropdown__header {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #ff6060;
  border-radius: 5px;
  color: white;
}

.dropdown__content {
  color: #ff6060;
  padding: 15px;
}

.error-section {
  display: -ms-grid;
  display: grid;
  text-align: center;
  -ms-grid-row: 1;
  grid-row: 1fr;
  color: #ff6060;
  width: 100%;
}

.error-section__redirection:hover {
  text-decoration: underline;
}

.tag-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 115px;
  height: 25px;
  border-radius: 10px;
  background-color: #ff6060;
  color: white;
}

.host {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ff6060;
  width: 200px;
  border: 2px solid #000000;
}

.host__picture {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: #575151;
}

@media screen and (max-width: 1200px) {
  .gallery {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .card {
    height: 255px;
  }
}

@media screen and (max-width: 860px) {
  .header, .gallery, .banner {
    margin: 20px;
  }
  .gallery {
    background-color: white;
    padding: 0;
  }
}

@media screen and (max-width: 599px) {
  .gallery {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
}

@media screen and (max-width: 400px) {
  .header {
    margin: 0;
  }
  .header__nav {
    text-transform: uppercase;
    font-size: 0.7em;
  }
}

.about-box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  row-gap: 30px;
  margin: 100px;
  margin-bottom: 45px;
}

.location__body {
  margin: 100px;
  margin-bottom: 45px;
}
/*# sourceMappingURL=styles.css.map */