@mixin background-cover {
    background-color: #000000;
    background-position: center;
    background-size: cover;
    color: #ffffff;

}

@mixin margin-D {
    margin: 100px;
    margin-bottom: 45px;
}



@mixin margin-M {
    margin: 20px;

}