.error-section {
    position: relative;
    @include margin-D;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: center;
    color: $primary;
    height: 80vh;
    width: auto;
    
    // &__number {
    
       
    // }

    &__message {
        align-self: flex-start;
        text-align: center;
        width: 100%;
    }
    &__redirection {

      
        &:hover {
            text-decoration: underline;
        }
    }
}