.error-section {
    display: grid;
    text-align: center;
    grid-row: 1fr;
    color: $primary-color;
    width: 100%;
    
    // &__number {
       
    // }
    // &__message {

 
    // }
    &__redirection {

      
        &:hover {
            text-decoration: underline;
        }
    }
}