.banner {
    @include margin-D;
    @include background-cover;
    @include center;
    height: 223px;
    border-radius: 25px;

   
    &__motto {
        position: absolute;
        color: white;
    }
    

}