.dropdown {
    border-radius: 5px;
    text-align: justify;
    margin-bottom: 15px;
    
    &__header {
      padding: 10px;
      display: flex;
      justify-content: space-between;
      background-color: $primary;
      border-radius: 5px;
      color: white;
    }
    
    &__content {
      
      color: $primary;
      padding: 15px;
      background-color: $bgc-grey;

        
      }
  }


  


  
