.footer {
	@include center;
	flex-direction: column;
	height: 209px;
	color: white;
    background-color: black;
	

    &__logo {
		width: 122px;
		height: 40px;
		filter: brightness(0) invert(1);
		color: hsl(0, 0%, 100%);
        margin-top: 10px;
    }

	&__copyright {
		margin-top: 50px;
	}
}
