.header {
  @include margin-D;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    height: 68px;
    color: $primary-color;

    &__logo {
      width: 145px;
      &__img {
        @include background-cover;
      }
    }


    &__nav {
    display: grid;
    min-width: 190px;
    grid-template-columns: 1fr 1fr;
    text-align: end;
    font-size: 1em;
    list-style-type: none;
    padding: 0;
    
  }
  li:hover {
    text-decoration: underline;
  }
}
  
  
