.host {
    @include center;
    color:$primary-color;
    width: 200px;
    border: 2px solid #000000;

    &__picture {
    
        width: 64px;
        height: 64px;
        border-radius: 50%;
        object-fit: cover;
        background-color: #575151;    
    }
}