.host {
    @include center;
    justify-content: flex-end;
    color:$primary;

    &__picture {
        width: 64px;
        height: 64px;
        border-radius: 50%;
        object-fit: cover;
        padding: 5px;
}
}