.host {
    @include center;
    justify-content: flex-end;
    color:$primary;
    font-size: 1.125em;

    &__picture {
        width: 64px;
        height: 64px;
        border-radius: 50%;
        object-fit: cover;
        padding: 5px;
}
}

@media screen and (max-width: 480px) {

    .host__name {
        padding: 10px;
        font-size: 0.75em;
    
  }
      }