.tag-box {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    font-size: 0.8em;
    padding: 5px;
    color: white;
}
.tag {
    @include center;
    margin-right: 5px;
    margin-block: 5px;
    padding: 5px;
    width: 150px;
    height: 25px;
    border-radius: 10px;
    background-color: $primary;
    color: white;
}

@media screen and (max-width: 480px) {
    
    
    .tag {
        width: 95px;
        height: 18px;
        font-size: 0.625em;
    
    }


    }