.tag-box {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    // font-size: 12px;
    font-size: 0.6em;
    padding: 0;
    color: white;
}
.tag {
    @include center;
    margin-right: 5px;
    margin-block: 5px;
    padding: 5px;
    width: 115px;
    height: 25px;
    border-radius: 10px;
    background-color: $primary-color;
    color: white;
}

// .tag {
//     width: 115px;
//     height: 25px;
//     font-size: 0.7em;

// }