.card {
    position: relative;
    width: 100%;
    height: 340px;
    border-radius: 10px;
    @include background-cover;
   
    &__title {
        position: absolute;
        left: 20px;
        bottom: 20px;
        color: white;
        font-weight: normal;
    }
    }